<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bank of India</title>
    <style>
        h1{
            background-color: darkorchid;
        }    
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <center>
    <h1>Bank of India</h1>
    <table class="table">
    <tr><th>Sender</th><th>Beneficiary</th><th>Amount</th></tr>    
    {%for i in data%}       
            <tr><td>{{i.Sender}}</td><td>{{i.Receiver}}</td><td>{{i.Amount}}</td></tr>
    {%endfor%}
</table>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>