<!DOCTYPE html>
<html>

<head>
    <title>Bank Of India</title>
    <meta charset="utf-8">
    <link rel="icon" href="Bank_Logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        #next {
            border-radius: 20px;
            width: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;

        }

        #head {
            background-color: darkorchid;
        }

        .card {
            max-width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <center>
        <h1 id="head">Bank Of India</h1>
    </center>
    <h1>{{data.Name}}</h1>
    <ul>
        <li>Balance: {{data.Balance}}</li>
        <li>Account Number: {{data.Account_Number}}</li>
        <li>Address: {{data.Address}}</li>
        <li>Mobile Number: {{data.Mobile_Number}}</li>
    </ul>
    <div class="card" style="width: 1000px;">
        <div class="card-body">
            <center>
                <h3 class="card-title">Transfer Money</h3>
                <form action="{% url 'transfer' %}" method="POST">
                    {%csrf_token%}
                    <table style="width: 350px; max-width: 100%;">
                        <tr>
                            <td>From:&nbsp;</td>
                            <td><input type="text" name="from" value="{{data.Name}}" readonly="readonly"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="text" value="{{data.Account_Number}}" name="sender" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td>Amount:&nbsp;</td>
                            <td><input autofocus type="text" name="amount" value="" required /></td>
                        </tr>
                        <tr>
                            <td>Beneficiary:&nbsp;</td>
                            <td><input type="text" list="clients" name="acc_holder" value="" required /></td>
                        </tr>
                        <tr>
                            <td>Account Number:&nbsp;</td>
                            <td><input type="text" list="Acc_NO" name="account"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input id="next" class="btn btn-success" type="submit" value="Transfer">
                            </td>
                        </tr>
                        <datalist id="clients">
                            {%for i in list%}
                            <option value="{{i.Name}}">
                                {%endfor%}
                        </datalist>
                        <datalist id="Acc_NO">
                            {%for i in list%}
                            <option value="{{i.Account_Number}}">
                                {%endfor%}
                        </datalist>
                    </table>
                </form>
            </center>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>